.area {
    width: 1090px;
    height: 100px;
    margin: 0px auto;
    background-color: pink;
}
.topNav {
    height: 30px;
    background-color: #000;
}
.topNav .topNav_con {
    position: relative;
    margin: 0px auto;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    width: 1090px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
}
.topNav .topNav_con .topNavLeft {
    position: relative;
    width: 275px;
}
.topNavLeft span,a {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.topNavLeft a {
    margin-left: 26px;
}
.topNavLeft .app {
    position: absolute;
    top: 30px;
    right: -30px;
    display: none;
}
.topNavLeft a:hover {
    color: #fff;
}
/* topNavRight右部导航第一部分 */
.topNavRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 670px;
    height: 30px;
    /* background-color: green; */
}
.topNavRight1 {
    float: left;
    width: 160px;
    height: 30px;

}
.topNavRight1 a {
    margin-right: 25px;
}
.topNavRight1 a:hover {
    color: #fff;
}
.topNavRight2 {
    float: right;
    width: 500px;
    height: 30px;
}
.topNavRight2 a {
    float: left;
    display: block;
    width: 83px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* margin-right: 25px; */
}
.topNavRight2 a:hover {
    color: red;
    background-color: #fff;
}
.topNavRight2 a:last-child:hover{
    background-color: #000;
    color: #fff;
}
.mine_con {
    position: absolute;
    top: 30px;
    right: 382px;
    width: 103px;
    padding-left: 15px;
    background-color: #fff;
    display: none;
}
.mine_con li a{
    color: #000;
}
.mine_con li a:hover {
    color: red;
}
/* 顶部导航栏右侧 客户服务 */
.sever_con {
    position: absolute;
    top: 30px;
    right: 299px;
    width: 103px;
    padding-left: 15px;
    background-color: #fff;
    display: none;
}
.sever_con li a{
    color: #000;
}
.sever_con li a:hover {
    color: red;
}
/* 顶部导航栏右侧 充值中心 */
.charge_con {
    position: absolute;
    top: 30px;
    right: 216px;
    width: 103px;
    padding-left: 15px;
    background-color: #fff;
    display: none;
}
.charge_con li a{
    color: #000;
}
.charge_con li a:hover {
    color: red;
}
/* 顶部导航栏右侧 消费者权益选项 */
.customer_con {
    position: absolute;
    top: 30px;
    right: 133px;
    width: 103px;
    padding-left: 15px;
    background-color: #fff;
    display: none;
}
.customer_con{
    color: #000;
}
.customer_con:hover {
    color: red;
}
/* 顶部导航栏右侧 更多选项 */
.more_con {
    position: absolute;
    top: 30px;
    right: 85px;
    width: 103px;
    padding-left: 15px;
    background-color: #fff;
    display: none;
}
.more_con  li a {
    color: #000;
}
.more_con  li a:hover {
    color: red;
}

